code {
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
    background-color: #DDD;
    color: #333;
}

div.main_content {
    width: 80%;
}

div.sidebar {
    align-items: stretch;
    bottom: 0;
    border-left: #55555555 solid 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
}

div.sidebar > li {
    width: 100%;
    border-bottom: #55555555 solid 0.25em;
}

div.sidebar > li > a {

}

div.sidebar > li {
    width: 100%;
    border-bottom: #55555555 solid 0.25em;
}

a.title-module {
    font-size: 200%;
    text-decoration: none;
    color: #333;
}

a.title-submodule {
    font-size: 150%;
    text-decoration: none;
    color: #333;
}

a.title-page {
    font-size: 125%;
    text-decoration: none;
    color: #333;
}

.bg-light-1 {
    background-color: #EFEFEF;
}

.bg-light-2 {
    background-color: #E8E8E8;
}

.bg-light-3 {
    background-color: #E0E0E0;
}

.nav-link {
    color: #333;
    text-decoration: none;
}

.nav-link-active {
    color: #833;
}