html {
    scroll-behavior: smooth;
    background-color: #DDD;
    color: #333;
}

div.sidebar {
    align-items: stretch;
    border-left: #55555555 solid 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
    width: 20%;
}

div.sidebar > li {
    width: 100%;
    border-bottom: #55555555 solid 0.25em;
}

div.sidebar > li > a {

}

div.sidebar > li {
    width: 100%;
    border-bottom: #55555555 solid 0.25em;
}

a.title-module {
    font-size: 200%;
    text-decoration: none;
    color: #333;
}

a.title-submodule {
    font-size: 150%;
    text-decoration: none;
    color: #333;
}

a.title-page {
    font-size: 125%;
    text-decoration: none;
    color: #333;
}

.bg-light-1 {
    background-color: #EFEFEF;
}

.bg-light-2 {
    background-color: #E8E8E8;
}

.bg-light-3 {
    background-color: #E0E0E0;
}

.nav-link {
    color: #333;
    text-decoration: none;
}

.nav-link-active {
    color: #338;
}